:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: #000000;
  color: whitesmoke;
  overflow: hidden;
}

main {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  width: 100%;
}
